{% extends 'base.html.twig' %}

{#{% block title %}Hello CvController!{% endblock %}#}

{% block content %}

    <!--a propos-->
    <section id="about" class="container-fluid">
        <div class="col-xs-8 col-md-4 profile-picture">
            <img class="rounded-circle img-profile" src="images/felix.jpg" alt="felix">
        </div>
        <div class="heading">
            <h1>Félix TUFFREAUD</h1>
            <h2>Développeur web PHP, Symfony</h2>
            <a target="_blank" class="button1" href="docs/CV%20Félix%20Tuffreaud.pdf">Télécharger mon cv</a>
        </div>
    </section>


{% endblock %}
