{% extends 'base.html.twig' %}

{% block title %}{{ about.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}


{% block content %}

    {% include 'cv/about.html.twig' %}
{#    {{ render(controller('App\\Controller\\CvController::aboutMe')) }}#}
    <div class="scroll-progress-container sticky-top sticky-offset">
        <div class="scroll-progress-bar" id="myBar"></div>
    </div>
    {% include 'cv/skill.html.twig' %}
    {% include 'cv/experience.html.twig' %}
    {% include 'cv/education.html.twig' %}
    {% include 'cv/project.html.twig' %}
    {% include 'cv/recommendation.html.twig' %}
    {% include 'cv/contactForm.html.twig' %}
    {% include 'cv/info.html.twig' %}

    {% block javascripts %}
{#        <script src="assets/js/typewriter.js"></script>#}
        {{ encore_entry_script_tags('typewriter') }}
        {#        <script src="https://cdn.jsdelivr.net/leaflet/1/leaflet.js"></script>#}
        <!-- Make sure you put this AFTER Leaflet's CSS -->
{#        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"#}
{#                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="#}
{#                crossorigin=""></script>#}
{#        <script src="assets/js/leaflet_map.js"></script>#}
        {{ encore_entry_script_tags('leaflet') }}
    {% endblock %}

{% endblock %}
