/*GENERAL*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    h2 {
        font-size: 1.5rem;
    }
}
img {
    max-width: 70%;
    height: auto;
}
section {
    padding: 45px 0 80px 0;
}
section .heading {
    text-align: center;
    padding:20px 0 40px 0;
}
section .heading h2 {
    text-transform: uppercase;
}
.red-divider {
    width: 100px;
    height: 2px;
    background: #333333;
    margin: 0 auto;
}
.white-divider {
    width: 100px;
    height: 2px;
    background: #000000;
    margin: 0 auto;
}
.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    margin: 20px auto;
    padding: 18px 50px;
    border-radius: 3px;
    display: block;
    transition: all 0.3s ease-in 0s;
    background: rgba(0,0,0, 0.4);
    width: -moz-fit-content;
    width: fit-content;
}
.button1:hover {
    background: white;
    color: #000;
    text-decoration: none;
}
.button2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000000;
    margin: 20px auto;
    padding: 18px 50px;
    border-radius: 3px;
    display: block;
    transition: all 0.3s ease-in 0s;
    background: transparent;
    width: -moz-fit-content;
    width: fit-content;
}
.button2:hover {
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}
a {
    transition: all 0.3s ease-in 0s;
}
a:hover {
    text-decoration: none;
}

/*NAVBAR*/

.navbar {
    background-color: #000;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    padding: inherit;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-link {
    padding: 12px 0;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #000 !important;
    background-color: #fff !important;
    border-radius: inherit;

}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}

/*ABOUT*/

#about {
    padding-top: 100px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.profile-picture {
    text-align: center;
    margin: 0 auto;
    /*float: none;*/
}
.img-profile {
    /*padding: 8px;*/
    /*border: 1px solid white;*/
}
#about .heading h1 {
    color: #ffffff;
    text-transform: uppercase;
}
#about .heading h2 {
    color: #fff;
    text-transform: inherit;
    font-weight: 400;
}
#about .creditPhoto {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
}
#about .creditPhoto a {
    color: white;
    font-weight: 600;
}
#about .creditPhoto a:hover {
    color: #7a26c7;
}
/*SKILLS*/

#skills {
    /*background: linear-gradient(135deg,rgba(255,251,153,0.3)0%,rgba(255,208,208,0.5)28%,rgba(28,171,204,0.2)100%);*/
    background: white;
}
#skills .heading h2 {
    color: #333333;
}
#skills .progress {
    height: 30px;
    margin: 30px 20px;
}
#skills .progress-bar {
    /*background: #000;*/
}
#skills .progress-bar {
    flex-direction: row;
    align-items: center;
}
#skills i {
    font-size: 25px;
    margin-left: 10px;
}

/*experience*/

#experience {
    /*background: #333333;*/
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../../public/assets/images/art_deco.jpg");*/
    background-image: url("../images/art_deco.jpg");
    background-size: 2rem;
    background-attachment: fixed;

/*    background-color: black;
    background-image:
            linear-gradient(to bottom right, white 1px, transparent 1px),
           linear-gradient(to bottom, white 1px, transparent 1px);
    background-size: 200px 200px;
    background-position: center;
    background-attachment: fixed;*/
}
#experience .heading h2 {
    color: black;
}
#experience .timeline-footer {
    padding-top: 10px;
}
#experience .timeline-footer a {
    color: #6c757d;
}
#experience .timeline-footer a:hover {
    color: #7a26c7;
}
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #000;
    left: 50%;
    margin-left: -2.5px;
}
@media screen and (max-width: 769px) {
    .timeline:before {
        left: 98%;
    }
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;
}
.timeline > li:after {
    clear: both;
}
.timeline >li:before, .timeline >li:after {
    content: " ";
    display: table;
}
.timeline li .timeline-badge {
    color: #000;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid #000000;
}
@media screen and (max-width: 769px) {
    .timeline li .timeline-badge {
        left: 100%;
    }
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
@media screen and (max-width: 769px) {
    .timeline-panel-container {
        width: 100%;
    }
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
@media screen and (max-width: 769px) {
    .timeline-panel-container-inverted {
        float: left;
        width: 100%;
    }
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: white;
}
/*.timeline-panel-container-inverted .timeline-panel {*/
/*float: left;*/
/*margin-left: 40px;*/
/*}*/
@media screen and (min-width: 769px) {
    .timeline-panel-container-inverted .timeline-panel {
        float: left;
        margin-left: 40px;
    }
}

.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #000000;
    border-right: 0 solid #000000;
    border-bottom: 14px solid transparent;
    content: " ";
}
/*.timeline-panel-container-inverted .timeline-panel:after {*/
/*border-left-width: 0;*/
/*border-right-width: 14px;*/
/*left: -14px;*/
/*right: auto;*/
/*}*/
@media screen and (min-width: 769px) {
    .timeline-panel-container-inverted .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.timeline-heading h4 {
    color: #000;
}

/*education*/

#education {
    background: linear-gradient(135deg,rgba(255,251,153,0.3)0%,rgba(255,208,208,0.5)28%,rgba(28,171,204,0.2)100%);
}
#education .heading h2 {
    color: #333333;
}
/*.education-block {
    position: relative;
    width: 95%;
    margin: 0 auto 30px auto;
    text-align: center;
    padding: 30px;
    !*background-color: #ddd;*!
    border-radius: 10px;
    !*border: 2px solid #ccc;*!
    !*margin-bottom: 20px;*!
    -webkit-box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
}
.education-block:before {
    content: '';
    position: absolute;
    border: #373734 solid 1px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}*/

/*flip card*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 0 auto 30px auto;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto 30px auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
}
.flip-card-inner:before {
    content: '';
    position: absolute;
    border: #373734 solid 1px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    padding: 20px;
}
/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    padding: 40px;
}
.flip-card-back:before {
    content: '';
    position: absolute;
    border: #373734 solid 1px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}
/* end flip card*/

#education i {
    font-size: 40px;
    color: #000;
}
#education h3 {
    color: #373734;
}
#education h4 {
    margin-bottom: 20px;
}
#education h5 {
    color: #000000;
    font-size: 15px;
    margin: 15px 0;
}
.abstract_education {
    text-align: left;
    /*margin-top: 15px;*/
}
.divider_education {
    width: 100px;
    height: 1px;
    background: #000;
    margin: 0 auto;
}
@media screen and (min-width: 576px) {
    .education-block {
        min-height: 400px;
    }
}

/*portfolio*/

#portfolio {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/assets/images/acid5.jpg");
    background-size: 30rem;
    background-attachment: fixed;*/
    background-image: url("../images/art_deco.jpg");
    background-size: 2rem;
    background-attachment: fixed;
}
.row-portfolio {
    padding: 15px 0;
}
@media screen and (max-width: 576px) {
    .row-portfolio {
        padding: 0;
    }
}
@media screen and (max-width: 576px) {
    .portfolioImage {
        padding: 15px;
    }
}
#portfolio .heading h2 {
    color: #000000;
}
#portfolio img {
    width: 100%;
    height: 100%;
}
.img-thumbnail {
    border: 1px solid #000000;
}
#portfolio img:hover {
    filter: grayscale(100%);
}

.portfolioImage {
    position: relative;
    padding: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(135deg,rgba(255,251,153,0.8)0%,rgba(255,208,208,0.9)28%,rgba(28,171,204,1)100%);
    padding: 0 15px;
    display: flex;
}

.portfolioImage:hover .overlay {
    opacity: 1;
}

.text {
    color: #333333;
    font-size: 17px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    text-align: center;
    margin: auto;
}
.divider_project {
    width: 100px;
    height: 1px;
    background: #333333;
    margin: 15px auto;
}

/*recommandations*/

#recommandations {
    /*background-color: white;*/
    background: linear-gradient(135deg,rgba(255,251,153,0.3)0%,rgba(255,208,208,0.5)28%,rgba(28,171,204,0.2)100%);
}
#recommandations .heading h2 {
    color: #333333;
}
.fas.fa-chevron-left, .fas.fa-chevron-right {
    background-image: none;
    color: #333333;
}
.carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #333333;
}
.carousel-indicators li.active {
    background-color: #333333;
}
#myCarousel .carousel-item {
    padding: 0 30px;
}
#myCarousel .carousel-item .quote {
    color: #333333;
    font-style: italic;
}
#recommandations .quote {
    padding-bottom: 25px;
}

/*footer*/

footer {
    background-color: #000;
    padding: 15px 0 35px;
    border-top: 1px solid #fff;
}
footer .copyright{
    color: #fff;
    font-weight: normal;
}
.link {
    color: white;
    padding: 5px;
    font-size: 38px;
    transition: all 0.3s ease-in 0s;
}
.link:hover {
    color: #7a26c7;
}

/* back to top */

#toTop {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99;
    cursor: pointer; /* Add a mouse pointer on hover */
}
footer .chevron{
    font-size: 25px;
    color: #FFFFFF;
    background-color: #333333;
    padding: 10px;
    line-height: 25px;
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
    box-shadow: 2px 2px 6px black;
}
@keyframes animToTop {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}
footer .chevron:hover{
    background-color: #FFFFFF;
    color: #333333;
    animation: animToTop 1s alternate infinite; /* On utilise "animToTop" définie plus tôt */
}

/*contact*/

#contact {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/assets/images/acid4.jpg");
    !*background-image: url("../images/acid4.jpg");*!
    background-size: 30rem;
    background-attachment: fixed;*/

    background-image: url("../images/art_deco.jpg");
    background-size: 2rem;
    background-attachment: fixed;

}
#contact .heading h2 {
    color: #000000;
}
#contact-form {
    font-size: 20px;
    color: #000000;
}
.form-control {
    height: 50px;
    font-size: 18px;
    border: 1px solid #000000;
}
.comments {
    font-style: italic;
    font-size: 18px;
    color: #fff;
    height: 25px;
}
#contact-form input[type=submit] {
    margin: 40px auto 0;
    display: block;
}
.thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}

/*recaptcha*/
   #contact .g-recaptcha .rc-anchor-light.rc-anchor-normal {
       border: 1px solid #000000 !important;
   }
.rc-anchor-light {
    background: none!important;
    color: #000;
}

/*login*/

#login {
    background: linear-gradient(135deg,rgba(255,251,153,0.3)0%,rgba(255,208,208,0.5)28%,rgba(28,171,204,0.2)100%);
}
#login form {
    max-width: 540px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 100px auto;
    color: white;
}
#login input {
    margin-bottom: 20px;
}
#login .logout {
    color: white;
}
#login .logout:hover {
    color: rgba(255, 255, 255, 0.8);
}

/*  informations   */

#informations {
    background: linear-gradient(135deg,rgba(255,251,153,0.3)0%,rgba(255,208,208,0.5)28%,rgba(28,171,204,0.2)100%);
}
#informations .heading h2 {
    color: #333333;
}

#mapid {
    height: 300px;
    width: 100%;
    z-index: 1;
    border: 1px solid #333333;
}
#informations .sub_title {
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
}
#informations i {
    padding-right: 10px;
}
#informations .text_info {
    padding-left: 20px;
    display: block;
}

/*  progress bar   */

/* The progress container (background) */
.scroll-progress-container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: #FFFFFF;
}

/* The progress bar (scroll indicator) */
.scroll-progress-bar {
    height: 3px;
    background: #000000;
    width: 0;
}