<!--footer-->

<footer class="text-center">
    <a onclick="topFunction()" id="toTop">
        <span><i class="chevron fas fa-chevron-up fa-2x"></i></span>
    </a>
    <p class="copyright">&copy {{ name }}</p>
    {% for footerLink in footerLinks %}
        <a href="{{ footerLink.link }}" target="_blank">
            <span class="link">{{ footerLink.icon|raw }}</span>
        </a>
    {% endfor %}
</footer>
<script>
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        // document.body.scrollTop = 0; // For Safari
        // document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        window.scroll(0,0);
    }
</script>